*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(#87ceeb,#1e3c72);
transition:0.5s;
}

.container{
text-align:center;
background:rgba(255,255,255,0.15);
backdrop-filter:blur(10px);
padding:30px;
border-radius:20px;
width:350px;
color:white;
}

.logo{
margin-bottom:20px;
}

input{
padding:10px;
border:none;
border-radius:10px;
width:70%;
}

button{
padding:10px;
border:none;
border-radius:10px;
cursor:pointer;
}

.weather-box{
margin-top:20px;
}

.icon img{
width:100px;
animation:float 3s infinite ease-in-out;
}

@keyframes float{
0%{transform:translateY(0px);}
50%{transform:translateY(-10px);}
100%{transform:translateY(0px);}
}

.info{
display:flex;
justify-content:space-around;
margin-top:20px;
}

.card{
background:rgba(255,255,255,0.2);
padding:10px;
border-radius:10px;
width:80px;
}